.rojo{
    width: 100px;
    height: 200px;
    background-color: #A30B03;
}
.morado{
    width: 100px;
    height: 200px;
    background-color: #940C8D;
}
.azul{
    width: 100px;
    height: 200px;
    background-color: #4420D4;
}
.rosa{
    width: 100px;
    height: 200px;
    background-color: #F748BD;
}
